.cvHolder {
    height: 29.7cm;
    width: 21cm;
    box-shadow: 1px 2px 8px hsl(220deg 60% 50%);;
    display: flex;
    flex-direction: column;
}

.contentSection {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}